<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/error.css">
    <title>Error</title>
</head>
<body>
    <div class="flex-container">
        <div class="text-center">
          <h1>
            <span class="fade-in" id="digit1"><%=d1%></span>
            <span class="fade-in" id="digit2"><%=d2%></span>
            <span class="fade-in" id="digit3"><%=d3%></span>
          </h1>
          <h3 class="fadeIn"><%=title%></h3>
          <a href="/"><button type="button" name="button">Return To Home</button></a>
        </div>
      </div>
      <script>
        window.addEventListener( "pageshow", function ( event ) {
            let historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>
</body>
</html>