<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the best and secure URL Shortner out there with features like visualization of statistics for shortened URL.">
    <meta name="keywords" content="URLSHORTENER, url shortner, URL SHORTNER">
    <link rel="canonical" href="https://us.prachet.me/client/home">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="URLSHORTENER">
    <meta property="og:description" content="One of the best and secure URL Shortner out there.">
    <meta property="og:image" content="../images/logox.png">
    <meta property="og:url" content="https://us.prachet.me/client/home">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../images/logox.png">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-primary text-white" style="font-family: nova flat;">
    <div id="sidebar" class="justify-content-end" style="display: none; z-index: 999;height: 100vh;width: 100vw; position: fixed;top:0;left: 0;backdrop-filter: blur(5px);">
        <div class="col-lg-8 col-md-6 col-sm-4 col-2 h-100" onclick="hideSidebar()"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-10 h-100 d-flex flex-column" style="background-color: #2F2F33;">
            <div class="d-flex my-3 justify-content-between" style="padding: 1.5rem;">
                <a href="" onclick="location.reload()" class=" h-100 d-flex gap-2 align-content-stretch text-decoration-none text-white" >
                    <div class="d-flex align-items-center"> <img class="logo " src="../images/logox.png" alt="logo" style="max-width: 30px;max-height: 30px;"></img></div>
                   
                    <div class="d-flex align-items-center h-100" ><div style="font-size: 1rem;line-height: 100%;">URLSHORTENER</div></div>
                </a>
                <button type="button"  class="btn bg-secondary d-flex justify-content-center text-primary" style="width: 30px;height: 30px;" onclick="hideSidebar()"><i class="fa fa-xmark" style="font-size: 1rem;"></i></button>
            </div>
            <a  href="/client/home" class="sidebar-item sidebar-item-active" >HOME</a>
            <a href="/client/unshorten" class="sidebar-item" >UNSHORTEN URL</a>
            <a href="/client/login" class="sidebar-item" >LOGIN</a>
            <a href="/client/register" class="sidebar-item" >REGISTER</a>
        </div>
    </div>
    <div class="modal fade" id="qrModal" tabindex="-1"  aria-labelledby="qrModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body bg-primary " style="height: 50vh;" id="qrbody">
                <div class="d-flex justify-content-end" style="height: 10%"><button type="button" class="btn text-secondary" data-bs-dismiss="modal" ><i class="fa fa-xmark" style="font-size: 1.5rem;"></i></button></div>
                <div id="loader"  class="flex-column justify-content-around align-items-center"   style="height: 90%;display: none;">
                    <div class="spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="flex-column justify-content-evenly align-items-center"   style="height: 90%;display: none;" id="displayqr" >
                    <img id="qrcode" alt="qr"></img>
                    <div  style="height: 20%;"> 
                        <a class="btn bg-secondary" id="downloadLink" download="" style="display: none;">Download QR</a>
                    </div>
                </div>
            </div>               
          </div>
        </div>
    </div>       
    <div class="container">
        <div id="snackbar" ></div>
        <nav class="py-1 my-4 d-flex justify-content-between align-items-center w-100" style="height: 8vh;">
            <a href="" onclick="location.reload()" class="w-25 h-100 d-flex gap-2 align-items-center text-decoration-none text-white" >
                <img class="logo  " src="../images/logox.png" alt="logo" style="width: 50px;max-height: 50px;"></img>
                <div class="d-flex align-items-center h-100" ><div style="font-size: 1.3rem;line-height: 100%;">URLSHORTENER</div></div>
            </a>
            <div class="d-none d-md-flex justify-content-end align-items-center w-75 h-100 gap-5">
                <a href="/client/home" class="nav-item active" >HOME</a>
                <a href="/client/unshorten" class="nav-item" >UNSHORTEN URL</a>
                <a href="/client/login" class="nav-item" >LOG IN</a>
                <a href="/client/register" class="nav-item" >REGISTER</a>
            </div>
            <div class=" py-2 d-flex d-md-none" style="height: 8vh;">
                <button type="button" onclick="showSidebar()" class="btn h-100 p-0"><i class="fa-solid fa-bars-staggered text-secondary" style="font-size: 2rem;width: 50px;font-family: Font Awesome 6 Free;"></i></button>
            </div>
        </nav>
        <div class="container-fluid p-0 d-flex flex-column justify-center mt-5 align-items-center" style="min-height: 80vh;">
            <div class="col-lg-8 col-12 my-5 box" style="background-color: #2F2F33;min-height: 40vh;">
                <form id="urlform" class="w-100" method="post">
                    <h2 class="text-center mt-5">SHORTEN URL</h2>
                    <div class="w-100 px-lg-5 pt-lg-5 px-sm-3 pt-sm-3 pt-2 px-2 d-flex flex-lg-row flex-sm-column flex-column gap-2">
                        <input class="px-2 col-lg-8 my-3" id="url" placeholder="Enter URL Here" style="height: 7vh;border-radius: 0.375rem;border: none;line-height: 100%;" name="url" type="url" required>
                        <button class="btn bg-secondary my-3 col-lg-4" type="submit" style="height: 7vh;">SHORTEN URL</button>
                    </div>
                </form>
                <div id="urls"  class="w-100 d-flex flex-column gap-3 p-lg-5 p-sm-3 p-2" style="color:#2F2F33 ;">
                   
                </div>
            </div>
        </div>   
        <div class="w-100 d-flex flex-column align-items-center gap-3" style="min-height: 8vh;">
            <div class="d-flex flex-wrap flex-column align-items-center" style="font-size: 1.2rem;font-weight: 500;cursor: default;">
                <div>&copy; 2023 <a class="nav-item" style="font-size: 1.2rem;" href="https://prachet.me">prachet.me</a> </div> 
                <div>Developed By Prachet Patel</div>
            </div>
            <div class="d-flex gap-5">
                <a href="https://www.instagram.com/prachet_patel/"  target="_blank" style="height: 40px;width: 40px;" class="nav-item "><i class="fa-brands fa-instagram"  style="font-size: 40px;"></i></a>
                <a href="https://www.github.com/prachetpatel" target="_blank" style="height: 40px;width: 40px;" class="nav-item "><i class="fa-brands fa-github" style="font-size: 40px;"></i></a>
                <a href="https://www.linkedin.com/in/prachet-patel-6150a3264" target="_blank" style="height: 40px;width: 40px;" class="nav-item "><i class="fa-brands fa-linkedin" style="font-size: 40px;"></i></a>
            </div>
        </div>
    </div>
    <div id="mainloader" class="container justify-content-center align-items-center" style="height: 100vh;display: none;">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
    </div>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            let historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js" integrity="sha512-pUhApVQtLbnpLtJn6DuzDD5o2xtmLJnJ7oBoMsBnzOkVkpqofGLGPaBJ6ayD2zQe3lCgCibhJBi4cj5wAxwVKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js" integrity="sha512-JWQFV6OCC2o2x8x46YrEeFEQtzoNV++r9im8O8stv91YwHNykzIS2TbvAlFdeH0GVlpnyd79W0ZGmffcRi++Bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../js/client.js"></script>
</body>
</html>